@keyframes ShowHeader {
    from{
        top: -200px;
        max-height: 0px;
    }
    to{
        top: 0px;
        max-height: 500px;
    }
}

@keyframes NavLogoAnimation{
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes NavLogoImgAnimation {
    0% {
        transform: translateY(-200px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    65% {
        transform: translateY(-30px);
        animation-timing-function: ease-in;
    }
    80% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    90% {
        transform: translateY(-10px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

@keyframes NavBarLinksAnimation {
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes ShowNavBtnSpanLeft {
    from{
        transform: rotate(0deg) translateY(0px);
    }
    to{
        transform: rotate(45deg) translateY(17px);
    }
}
@keyframes ShowNavBtnSpanLeftReverse {
    from{
        transform: rotate(45deg) translateY(17px);
    }
    to{
        transform: rotate(0deg) translateY(0px);
    }
}
@keyframes ShowNavBtnSpanMiddle {
    from{
        height: 6px;
    }
    to{
        height: 0px;
    }
}
@keyframes ShowNavBtnSpanMiddleReverse {
    from{
        height: 0px;
    }
    to{
        height: 6px;
    }
}
@keyframes ShowNavBtnSpanRight {
    from{
        transform: rotate(0deg) translateY(0px);
    }
    to{
        transform: rotate(-45deg) translateY(-17px);
    }
}
@keyframes ShowNavBtnSpanRightReverse {
    from{
        transform: rotate(-45deg) translateY(-17px);
    }
    to{
        transform: rotate(0deg) translateY(0px);
    }
}

@keyframes WelcomeImg {
    from{
        transform: translateX(1200px) rotate(360deg);
    }
    to{
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes WelcomeTitleH1 {
    from{
        opacity: 0;
        transform: scale(3);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes WelcomeTitleH4H2 {
    from{
        transform: translateX(-900px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes WelcomeTitleH2Span {
    from{
        opacity: 0;
        transform: scale(2);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes WelcomeSocialBtns {
    from{
        transform: translateX(-1200px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes WelcomeBtns {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes ShowAnyBox {
    from{
        opacity: 0;
        transform: translateY(70px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes HideAnyBox {
    from{
        opacity: 1;
        transform: translateY(0px);
    }
    to{
        opacity: 0;
        transform: translateY(70px);
    }
}

@keyframes CertificatesShowType {
    from{
        max-height: 0px;
    }
    to{
        max-height: 2000px;
    }    
}

@keyframes CertificatesHideType {
    from{
        max-height: 2000px;
    }
    to{
        max-height: 0px;
    }    
}