/* Start Global */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

@media screen and (min-width: 368px) {
     .container{
         max-width: 1200px;
         margin: auto;
     }
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* End Global */

/* Start Navbar */

.navbar{
    font-size: 18px;
    height: 0px;
    color: #fff;
    position: relative;
    z-index: 2;
}

.navbar .brand{
    float: left;
    padding-left: 20px;
    width: 50%;
    text-transform: uppercase;
    margin-top: 10px;
}

.navbar .links{
    float: left;
    width: 50%;
    margin-top: 25px;
}

.navbar .links li{
    display: inline-block;
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}

.navbar .links li a{
    color: #fff;
    text-decoration: none;
}

.navbar .links li.active a,
.navbar .links li a:hover{
    color: #1abc9c;
}

.navbar .links li.active,
.navbar .links li:hover{
    border-bottom: 2px solid #1abc9c;
}

/* End Navbar */

/* Start Header */

.header{
    background: url('../Images/pic%201.jpg');
    background-size: cover;
    position: relative;
}

.header .overlay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1;
}

.header .bx-wrapper{
    box-shadow: none;
    border: 0;
    background: none;
    height: 100%;
}

.header .bx-wrapper .bx-viewport{
    height: 100% !important;
    text-align: center;
}

.header .bxslider{
    height: 100% ;
}

.header .bxslider li{
    display: block;
}

.header .bxslider li h2{
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 0;
}

.header .bxslider li h2 span{
    color: #1abc9c;
}

/* End Header */

/* Start Our Services */

.services{
    padding: 80px 20px 40px;
}

.services h2{
    margin: 0 0 50px;
    font-weight: normal;
}

.services .item{
    float: left;
    width: 33.3333333%;
    margin-bottom: 20px;
}

.services .item svg{
    color: #1abc9c;
    float: left;
    width: 20%;
    margin-right: 5%;
    margin-top: 20px;
}

.services .item .info{
    float: left;
    width: 75%;
}

.services .item .info h3{
    font-weight: normal;
    color: #222;
    margin-bottom: 5px;
}

.services .item .info p{
    margin-top: 0;
    color: #999;
}

.our-team{
    padding: 40px 20px;
}

.our-team .box{
    float: left;
    padding: 0;
}

.our-team .box p{
    color: #999;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 30px;
}

.our-team .box:first-child{
    width: 35%;
}

.our-team .box:not(:first-child){
    width: 15.25%;
    margin-left: 1%;
    position: relative;
    transition: all 5s ease-in-out;
}

.our-team .box:not(:first-child) .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 183px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: rgba(26, 188, 156, 0.7);
    box-shadow: 6px 6px 10px gray;
    display: none;
}

.our-team .box:not(:first-child) img{
    width: 100%;
}

.our-team h2{
    font-weight: normal;
    margin: 0;
}

/* End Our Services */

/* Start Testimonials */

.testim{
    background: url(../images/Testimonials/pic%202.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    position: relative;
    padding: 40px 0;
}

.testim .t-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
}

.testim h2{
    font-size: 40px;
    margin: 60px 0 10px;
    position: relative;
}

.testim .special-heading:after{
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    left: 420px;
    width: 55px;
    border-bottom: 2px solid #fff;
}

.testim q{
    font-size: 20px;
    line-height: 2;
    color: #d0d0d0;
    display: block;
    margin-top: 60px;
}

.testim p{
    font-size: 30px;
    color: #1abc9c;
}

.testim .slider > div{
    display: none;
}

.testim .slider .active{
    display: block;
}

/* End Testimonials */

/* Start Projects */

.our-projects{
    padding: 60px;
    padding-bottom: 300px;
    height: 100%;
}

.our-projects h2{
    font-weight: normal;
}

.our-projects ul{
    margin-top: 50px;
}

.our-projects ul li{
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 5px;
    color: #aaa;
    margin-right: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.our-projects ul li.selected{
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    color: #fff;
}

.our-projects .gallery .row:first-child{
    margin-top: 50px;
    overflow: hidden;
}

.our-projects .gallery  .row > div{
    width: 32%;
    float: left;
    margin-bottom: 2%;
}

.our-projects .gallery  .row > div img{
    width: 100%;
}

.our-projects .gallery .row > div:nth-child(2){
    margin-right: 2%;
    margin-left: 2%;
}

.our-projects .gallery .row > div{
    position: relative;
}

.our-projects .gallery .row >div .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(26, 188, 156, 0.7);
    box-shadow: 6px 6px 10px gray;
    display: none;
    padding-top: 100px;
}

.our-projects .gallery .row >div .overlay span{
    border: 2px solid #fff;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.our-projects .gallery .row >div .heart{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    display: none;
}

/* End Projects */

/* Start Footer */

.footer{
    background-color: #232323;
    color: #eee;
    padding: 40px 0;
    overflow: hidden;
    color: #6c6c6c;
}

.footer .col{
    width: 25%;
    float: left;
}

.footer .col h2{
    color: #fff;
    font-weight: normal;
    font-size: 18px;
}

.footer .col p{
    margin-bottom: 30px;
    line-height: 1.6;
}

.footer .col svg{
    display: inline-block;
    color: #979797;
    padding: 10px;
    border: 1px solid #979797;
}

.footer .tags span{
    display: inline-block;
    color: #e7e7e7;
    padding: 10px;
    border: 1px solid #e7e7e7;
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.footer .recent div{
    overflow: hidden;
    margin-bottom: 10px
}

.footer .recent div img{
    float: left;
    margin-right: 10px;
}

.footer .recent div h4{
    color: #e7e7e7;
    margin: 8px 0;
    font-weight: normal;
}

.footer .blog ul li{
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #b7b7b7;
    border-bottom: 1px solid #979797;
}

.footer .copyright{
    margin-top: 30px;
}

/* End Footer */

/* Start Contact me */

.contact{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: rgba(10,10,10,0.7);
    z-index: 100;
    display: none;
}
.contact .con{
    position: relative;
    top: 150px;
    left: 350px;
    right: 350px;
    width: 500px;
    height: 620px;
    padding: 0;
    background-color: rgba(255,255,255,1);
    display: none;
}

.contact .con .title{
    background-color: #ddd;
    padding:30px 20px 40px;
    margin: 0;
}
.contact .con .title > div{
    margin: 0;
    float: left;
    width: 93%;
}

.contact .con .title a{
    width: 7%;
    color: black;
    cursor: pointer;
}

.contact .con .title h1,
.contact .con .title p{
    margin: 0;
    padding: 0;
}

.contact .con form{
    padding: 20px 20px;
}

.contact .con form h3{
    margin: 0;
    margin-bottom: 10px;
}

.contact .con form input[type="text"],
.contact .con form input[type="email"]{
    width: 100%;
    margin-bottom: 20px;   
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.contact .con form textarea{
    width: 100%;
    height: 170px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.contact .con form input[type="submit"]{
    padding: 12px 20px;
    position: relative;
    top: 10px;
    left: 171.875px;
    margin: 0;
    font-size: 25px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* End Contact me */

/* Start My FrameWork */

.clearfix{
    clear: both;
}

.special-heading{
    position: relative;
}

.special-heading:after{
    content: "";
    display: block;
    position: absolute;
    top: 35px;
    left: 0;
    width: 40px;
    border-bottom: 2px solid #333;
}

.separator{
    border: 1px solid #ddd;
}
/* End My FrameWork */