/* Start Global */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}
/*
@media screen and (min-width: 1200px) {*/
    .container{
        width: 1200px;
        margin: auto;
        position: relative;
    }

.table{
    height: 100%;
    display: table;
}

.tablerow{
    display: table-row;
    height: 100%;
}

.text-center{
    text-align: center;
}

.upper{
    text-transform: uppercase;
}

.main-color{
    color: #f7600e;
}

.main-backcolor{
    background-color: #f7600e;
}

.overlay{
    background-color: rgba(49,50,61, 0.8);
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}

.transition{
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

::-webkit-input-placeholder{
    font-size: 15px;
}
:-moz-input-placeholder{
    font-size: 15px;
}
:-ms-input-placeholder{
    font-size: 15px;
}

/* End Global */

/* Start Header */

.header{
    background: url("../images/Header/header.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    color: #fff;
}

.header .navbar{
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .navbar .links{
    float: right;
}

.header .navbar .links svg{
    margin-left: 5px;
}

.header .intro{
    display: table-cell;
    vertical-align: middle;
}

.header .intro h1{
    margin: 0;
    font-size: 50px;
    font-weight: 800;
}

.header .intro p{
    margin: 5px 0 40px;
    line-height: 1.9;
    font-size: 20px;
    color: #e2e2e2;
}

.header .buttons button{
    background: transparent;
    padding: 10px 0;
    width: 180px;
    font-size: 14px;
    border: 1px solid #909090;
    margin: 0 8px;
    border-radius:10px;
    color: #fff;
}

.header .buttons button:hover{
    background-color: #f7600e;
    border: 1px solid #f7600e;
    cursor: pointer;
}

.header .arrow{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.header .arrow svg{
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 25px;
    cursor: pointer;
}

/* End Header */

/* Start features */

.features{
    padding: 80px 0;
    overflow: hidden;
}

.features .box{
    width: 22%;
    float: left;
    margin-right: 4%;
}

.features .box:last-child{
    margin-right: 0;
}

.features .box svg{
    color: #f7600e;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 40px;
    width: 50px;
    height: 50px;
}

.features .box svg:hover{
    background-color: #f7600e;
    border: 1px solid #f7600e;
    color: #fff;
}

.features .box h3{
    text-transform: uppercase;
    font-weight: normal;
    color: #505050;
}

.features .box p{
    line-height: 1.9;
    color: #888;
}
/* End features */

/* Start Subscribe */

.subscribe{
    background: url("../images/Header/header.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover; 
}

.subscribe form{
    padding: 100px 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

.subscribe form input[type="email"]{
    padding: 0 10px;
    width: 500px;   
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    top: 2px;
    border: none;
    height: 37px;
    line-height: 37px;
}

.subscribe form button{
    padding: 10px;
    width: 200px;
    background-color: #f7600e;
    border: none;
    color: #fff;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 14px;
    cursor: pointer;
}

/* End Subscribe */

/* Start Our Work */

.our-work{
    padding: 50px 0;
}

.our-work h2{
    font-weight: 500;
    font-size: 35px;
    margin: 0;
}

.our-work p{
    color: #888;
    margin: 10px 0 40px;
    line-height: 1.9;
}

.our-work .show-more{
    background-color: transparent;
    border: 1px solid #ccc;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: #555;
}

.our-work .show-more:hover{
    background-color: #f7600e;
    border: 1px solid #f7600e;
    cursor: pointer;
    color: #fff;
}

.our-work .items-box{
    overflow: hidden;
}

.our-work .items-box .item{
    overflow: hidden;
    float: left;
    width: 30%;
    margin-left: 2.3%;
    margin-bottom: 12px;
    position: relative;
    height: 403px;
}

.our-work .items-box .item img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.our-work .items-box .item .over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 96, 14, 0.8);
    color: #fff;
    border-radius: 10px;
    display: none;
}

.our-work .items-box .item:hover .over{
    display: block;
}

.our-work .item .over h4{
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 0;
}

.our-work .item .over p{
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 2;
    color: #fff;
}

.our-work .item .over button{
    background-color: transparent;
    border: 1px solid #fff;
    width:180px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.our-work .item .over button:hover{
    background-color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    color: #f7600e;
}

/* End Our Work */

/* Start Testimonials */

.testim{
    background: url(../images/Header/header.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    color: #fff;
}

.testim .client{
    padding: 50px 0;
    color: #fff;
    font-size: 20px;
}

.testim .client img{
    border-radius: 50%;
    height: 8%;
    width: 8%;
}

.testim .client p{
    line-height: 2;
    font-style: italic;
}

.fa-chevron-right, .fa-chevron-left{
    position: absolute;
    top: 50%;
    color: #999;
    cursor: pointer;
}

.fa-chevron-right:hover, .fa-chevron-left:hover{
    color: #f7600e;
}

.fa-chevron-right{
    right: 0;
}

.fa-chevron-left{
    left: 0;
}

/* End Testimonials */

/* Start Our Team */

.team{
    padding: 50px 0;
}

.team h2{
    font-weight: 500;
    font-size: 35px;
    margin: 0;
}

.team p{
    color: #888;
    margin: 10px 0 40px;
    line-height: 2;
    font-size: 20px;
}

.team .the-team{
    overflow: hidden;
}

.team .the-team .person{
    float: left;
    width: 25%;
    font-weight: normal;
    color: #888;
    /* Makes Black and white */
    filter: gray;
    filter: grayscale(1);
    -webkit-filter:grayscale(1);
}

.team .the-team .person:hover{
    filter: none;
    -webkit-filter:grayscale(0);
    color: #333;
}
.team .the-team .person:hover img{
    height: 320px;
}

.team .the-team .person:hover p{
    color: #333;
}

.team .the-team .person img{
    width: 265px;
    height: 290px;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

.team .the-team .person h3{
    text-transform: uppercase;
}

.team .the-team .person p {
    font-size: 15px;
    color: #888;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

.team .the-team .social-ico svg{
    background-color: #9da1a5;
    width: 20px;
    height: 20px;
    padding: 5px;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

.team .the-team .person:hover .fa-facebook{
    background-color: #3b5998;
}

.team .the-team .person:hover .fa-twitter{
    background-color: #55acee;
}

.team .the-team .person:hover .fa-google-plus-g{
    background-color: #dc4e41;
}

/* End Our Team */

/* Start Contact */

.contact{
    background: url(../images/Header/header.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    color: #fff;
}

.contact .overlay{
    padding: 50px 0;
}

.contact h2{
    font-size: 35px;
}

.contact form{
    width: 700px;
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
}

.contact form input[type="text"],
.contact form input[type="email"]{
    width: 48%;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.contact form input[type="text"]{
    float: left;
}

.contact form input[type="email"]{
    float: right;
}

.contact form textarea{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.contact form .info{
    overflow: hidden;
    margin-top: 10px;
}

.contact form .info button{
    float: left;
    padding: 10px;
    width: 200px;
    border: none;
    background-color: #f7600e;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}

.contact form .info .form-ico{
    float: right;
}

.contact form .info .form-ico svg{
    width: 25px;
    height: 25px;
    padding: 10px;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.contact form .info .form-ico .fa-facebook{
    background-color: #3b5998;
}

.contact form .info .form-ico .fa-twitter{
    background-color: #55acee;
}

.contact form .info .form-ico .fa-google-plus-g{
    background-color: #dc4e41;
}

/* End Contact */

/* Start Footer */

.footer{
    background-color: #3b434c;
    color: #fff;
    overflow: hidden;
    padding: 30px 0;
}

.footer .copyright{
    float: left;
}

.footer .design{
    float: right;
}

/* End Footer */