*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #384354;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.container{
    border: 5px solid #384354;
    background-color: #384354;
    border: 10px solid #152133;
    box-shadow: 10px 10px 8px 10px #19212e;
    padding: 10px;
    width: fit-content !important;
    max-width: fit-content !important;
}

.resultBox{
    color: white;
    background-color: #152133;
    border: 0px;
    padding: 10px;
    text-align: right;
    direction: ltr;
}

#resultBox{
    height: 100px;
    font-size: 50px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px -10px 8px 5px #0c131f inset;
}
#resultBox2{
    height: 50px;
    font-size: 20px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 10px 8px 5px #0c131f inset;
}
    
.btns{
    width: 30%;
}

.btnd{
    background-color: #152133;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    width: 70px;
    height: 70px;
    font-size: 24px;
    box-shadow: 3px 3px 4px 2px black ;
    transition: 200ms;
}
.btnd:active{
    background-color: #152133;
    color: #ffffff;
    box-shadow: none;
}
.btnd:hover{
    background-color: #152133;
    color: #ffffff;
}

.gap10{
    gap: 10px;
}

#result{
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 150px;
}