*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-family: cursive;
    text-decoration: none;
}
/*  
body{
    overflow-y: hidden;
}  */

@media (max-width: 840px) {
    header .navbar{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    header  #navLinks1, header  #navLinks2{
        display: none;
        flex-direction: column;
        gap: 30px;
    }

    header .navbar .collapse-btn{
        display: flex;
    }

    .black-bg #body-container{
        gap: 200px;
    }
}

@media (min-width: 840px) {
    header .navbar .collapse-btn{
        display: none;
    }

    header  #navLinks1, 
    header  #navLinks2{
        display: flex;
    }
}

@media (max-width: 990px) {
    .footer .row{
        gap: 20px;
    }

    div.footer-logo, 
    .links,.links .nav-links, 
    .contact, .footer .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.footer-logo .footer-title{
        writing-mode: horizontal-tb; 
        transform: rotate(0deg); 
    }
    div.footer-logo img[alt="logo"]{
        transform: rotate(0deg);
    }
}

header{
    padding: 0px 30px;
    width: 100%;
    background-color: darkmagenta;
    box-shadow: 0 15px 20px 0 rgb(105, 0, 105);
    position: sticky;
    top: 0px;
    z-index: 1;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .navbar .logo a{
    display: flex;
    align-items: center;
}

header .navbar .logo .logo-img{
    width: 100px;
    margin-right: 10px;
    transition: 400ms;
}

header .navbar .logo .logo-title{
    font-size: 40px;
    color: black;
    transition: 400ms;
}

header .navbar .logo a:hover .logo-img{
    transform: rotate(360deg);
}

header .navbar .logo a:hover .logo-title{
    color: white;
    text-shadow: 3px 3px 4px #000000;
    font-size: 50px;
}

header .navbar .nav-links{
    list-style: none;
    display: flex;
    align-items: center ;
    gap: 30px;
}

header .navbar .nav-links a, 
.footer .nav-links a{
    font-size: 26px;
    color: black;
    transition: 400ms;
}

header .navbar .nav-links a:hover, 
header .navbar .nav-links a.active, 
.footer .nav-links a:hover,
.footer .nav-links a.active{
    color: white;
    text-shadow: 3px 3px 4px #000000;
    font-size: 30px;
}

header .navbar a.cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: 400ms;
    font-size: 30px;
}

header .navbar a.cart-btn:hover{
    color: white;
    text-shadow: 3px 3px 4px #000000;
    font-size: 40px;
}

header .navbar .collapse-btn{
    color: black;
    transition: 400ms;
    font-size: 40px;
    background-color: transparent;
    border: none;
}

/* -------------------------Body-------------------------- */

.body{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.black-bg{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1;
    color: white;
}

.body-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    max-width: 100%;
}

.body-text .body-title{
    font-size: 70px;
}

.body-text p, .about-text p{
    font-size: 30px;
    font-weight: normal;
    max-width: 1200px;
}

.body-text .shop-btn, .show-more{
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 50px;
    border: none;
    transition: 400ms;
    background-color: white;
    color: black;
}

.body-text .shop-btn:hover, .show-more:hover{
    cursor: pointer;
    background-color: darkmagenta;
    color: white;
}

/* -------------------------Shop-------------------------- */

.shop h1, .about-text h1{
    font-size: 50px;
    text-decoration: underline;
}

.book-store{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-store .row .col .book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px double white;
    border-radius: 25px;
    padding: 20px 20px;
    margin: 20px 0px;
}

.book-store .row .col .book img{
    max-width: 250px;
    height: 400px;
    margin-bottom: 10px;
}

.black-bg .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 350px;
}

.container hr{
    background-color: white;
    color: white;
    font-size: 10px;
    z-index: 1;
}

.show-more{
    margin-top: 20px;
}

/* -------------------------Footer-------------------------- */

.footer{
    width: 100%;
    padding: 30px;
    background-color: darkmagenta;
    box-shadow: 20px 0 20px 15px rgb(105, 0, 105);
}

.footer .container .row{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer h1{
    color: white;
    text-decoration: underline;
}

.footer p{
    color: white;
    font-size: 22px;
}

.footer .footer-title{
    writing-mode: vertical-lr; /* vertical top to bottom, right to left */
    transform: rotate(180deg); /* optional: flip to make text more natural */
    font-size: 48px;
    text-shadow: 0 15px 20px black;
    text-decoration: none;
}
.footer .footer-logo img{
    transform: rotate(-90deg);
    width: 200px;
    height: 200px;
}

.footer .nav-links{
    list-style: none;
}

.footer .footer-logo{
    display: flex;
    align-items: center;
    justify-content: start;
}